<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nghiem</title>
</head>

<body>
    Hello Nghiem khai
    <%= message%>
    <!-- <h1>Message: <%= message %></h1> -->
</body>

</html>